<%
	var localMeta = {
		title: '404 Not Found',
		styles: [],
		scripts: [],
	};
%>
<%- include('../base/base_header.ejs', {meta: localMeta}) %>
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h1 class="card-title text-center">404 Not Found</h1>
					<p class="card-text text-center">お探しのページは見つかりませんでした。</p>
					<div class="text-center">
						<a href="/" class="btn btn-primary w-100 mt-3">トップに戻る</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../base/_footer.ejs') %>
